<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>金门大桥攻略</title>
   <link rel="stylesheet" type="text/css" href="/static/css/style.css"></link>
   <style>
     body{
                background:url(/static/img/img/back.jpg) no-repeat center top;
                background-size:cover;
                background-attachment:fixed;
            } 
        h2 {
            margin-top:5%;
            font-size:25px;
            margin-left:15%;
            margin-right:15%;
        }
        p {
            margin-top:2%;
            font-family:宋体;
            line-height: 30px;
            font-size:  18px;
            margin-left:15%;
            margin-right:15%;
        }
   </style>
</head>
<body>
    <header >
		<a href="#" class="logo">行游网</a>
		<div class="bx bx-menu" id="menu-icon"></div>
		<ul class="navbar">
			<li><a href="/templates/index.html">首页</a></li>
			<li><a href="#package">推荐</a></li>
			<li><a href="#destination">Destination</a></li>
		</ul>
	</header>
    
    <h1 style="margin-top:100px">景点攻略：金门大桥(Golden Gate Bridge)</h1>
    <div style=" display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;">
    <img  src="https://pic4.zhimg.com/80/v2-f03952e6f9bfd2b56fdbcb18333d0e17_1440w.webp";  width="700px">
    </div>
    <div>
        <h2>前往理由 (Reason to go)：</h2><br>
        <p>1. 金门大桥是世界著名大桥之一，被誉为20世纪桥梁工程的一项奇迹，也被认为是旧金山的象征。
            <br><br>
            2. 金门大桥是旧金山最上镜的城市地标，从它1937年建成之日起，便出现在成百上千部电影当中。在好莱坞的电影故事里，金门大桥既是这座城市的美丽象征，也是邪恶势力热衷摧毁的战略目标。它跨越金门海峡七十余年，激发了无数电影导演的艺术灵感，上演了数不清的悲欢离合，堪称美国电影最闪亮的一颗明星。
            <br><br>
            3. 金门大桥桥身的颜色为国际橘，因建筑师艾尔文·莫罗认为此色既和周边环境协调，又可使大桥在金门海峡常见的大雾中显得更醒目。由于这座大桥新颖的结构和超凡脱俗的外观，所以它被国际桥梁工程界广泛认为是美的典范，更被美国建筑工程师协会评为现代的世界奇迹之一。它也是世界上最上镜的大桥之一。
        </p>
        <h2>景点介绍 (Introduction)：</h2>
        <p>金门大桥 (Golden Gate Bridge)是旧金山的地标性建筑。也是近代桥梁工程的一项奇迹。金门大桥全长2737.4米，宽27.5米，高227.4米，跨越连接了旧金山湾和太平洋的金门海峡，是连接旧金山和北边城市的重要交通枢纽。大桥历时4年和10万多吨钢材，耗资达3550万美元建成，由桥梁工程师约瑟夫·施特劳斯(Joseph .Struss, 1870—1938年)设计。因其历史价值，于2007年由英、美两国合拍成同名纪录片。鲜艳的国际橘(International Orange)使它在大雾的天气里面，遥远驶来的船只也能清楚看到它，它是每个到旧金山旅游的人必去的地方。</p>
        <h2>小贴士 (Tips)：</h2>
        <p> · 在金门大桥的南北端都有供游客停车观光和拍照的场地，且在桥的南边和北边看到的风景是不同的。从北向南过桥是要给路费6美元，而从南向北是不用给过路费的。自行车和行人是免费的，并公用一条通道。
             <br><br>
            · 如果早上前往，大雾未散之时，很有可能可以看到“雾锁金门”的壮观景象。
            <br><br>
            · 桥上风很大，注意保暖和安全。</p>
        <h2>相关费用 (Fee)：</h2>
        <p>大桥两侧步行道免费通行，观景点停车免费；
             <br><br>
            车辆由北向南单向收取过桥费，且不收现金，可网上缴费，上桥前30天至过桥后的2天内都可以缴纳，6美元/次。</p>
        <h2>位置交通 (Transportation)：</h2>
        <p>金门大桥地址：Golden Gate Bridge, San Francisco, CA 94129
            <br><br>
            1. 跟团形式：所有含有旧金山市区游的旅游团都会前往参观金门大桥。
            <br><br>
            2. 公交：乘坐2/4/8/10/18/24/27/38/44/54/56/58/70/72/72X/74/76/92/93/97/101/101X路公交车到达Golden Gate Bridge Toll Plaza站下车。
            <br><br>
            3. 打车：旧金山的出租车起步价为3.1美元，每增加一公里1.39美元，价格相对昂贵，下车时需按规定支付至少10%的小费给司机。
            <br><br>
            4. 自驾：金门大桥由北向南单向收取过桥费，观景点停车免费，但是停车位比较难找。
            <br><br>
            5. 乘船：可选择乘坐Golden Gate Bay Cruise金门海湾巡航等渡轮乘船欣赏金门大桥及旧金山全貌。
            <br><br>
            6. 步道：大桥两侧设有约1.2公里长的步行道，供行人和自行车通行，行人往返需要1小时左右，在渔人码头设有很多自行车租借点。骑自行车穿越大桥前往索萨利托，然后乘坐渡轮返回是一项非常受欢迎的项目。
            </p>
    </div>
   
    <section>
		<div class="end-text">
			<p > If you have any advice or questions,welcome to contact us by lqc1407258369@gmail.com</p>
			<p>Looking forward to your email.</p>	
		</div>
	</section>
</body>
</html>